<!DOCTYPE html>
<html>
  <head>
  <title>Damien &amp; Georgia &mdash; {{block "title" .}}Home{{end}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
		<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
			<a class="navbar-brand" href="{{.Path `index`}}">Damien &amp; Georgia</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown {{if .IsActive `details-accommodations` `details-travel-and-transportation` `details-things-to-do`}}active{{end}}">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Details</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{.Path `details-accommodations`}}">Accommodations</a>
							<a class="dropdown-item" href="{{.Path `details-travel-and-transportation`}}">Travel and Transportation</a>
							<a class="dropdown-item" href="{{.Path `details-things-to-do`}}">Things to Do</a>
						</div>
					</li>
					<li class="nav-item {{if .IsActive `photos`}}active{{end}}"><a class="nav-link" href="{{.Path `photos`}}">Photos</a></li>
					<li class="nav-item {{if .IsActive `registry`}}active{{end}}"><a class="nav-link" href="https://www.zola.com/registry/damienandgeorgia" target="_blank">Registry&nbsp;<i class="fa fa-external-link"></i></a></li>
					<li class="nav-item {{if .IsActive `rsvp`}}active{{end}}"><a class="nav-link" href="{{.Path `rsvp`}}">RSVP</a></li>
				</ul>
			</div>
		</nav>
    <div class="container">
      <hr>
      {{block "content" .}}{{end}}
			<br>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {{block "scripts" .}}{{end}}
</html>
