{{define "content"}}
  <h1 class="display-4">
    About This Website
  </h1>
  <hr>
  <p>
    This handcrafted, artisanal wedding website was built from
    scratch using the following tools:
  </p>

  <br>

  <ul class="list-group">
    <a href="https://golang.org/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/go.svg" width="32" height="32">&nbsp;Go</a>
    <a href="https://www.postgresql.org/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/postgres.png" width="32" height="32">&nbsp;Postgres</a>
    <a href="https://www.nginx.com/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/nginx.png" width="32" height="32">&nbsp;Nginx</a>
    <a href="https://getbootstrap.com/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/bootstrap.png" width="32" height="32">&nbsp;Bootstrap</a>
    <a href="https://www.vultr.com/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/vultr.png" width="32" height="32">&nbsp;Vultr</a>
    <a href="https://neovim.io/" target="_blank" class="list-group-item list-group-item-action"><img src="/static/icons/neovim.png" width="32" height="32">&nbsp;Neovim</a>
  </ul>

{{end}}
