{{define "content"}}
  <h1 class="display-4">
    About Us
  </h1>
  <hr>
  <p>
    Damien and Georgia first met during their freshman year at DePaul
    University. After several years of friendship, they, along with some other
    friends, became roommates in a house in Lakeview. Eventually, they decided
    to give dating a shot, after bonding over their mutual love of cats.
  </p>
  <p>
    Not long after that, the two moved out of that house and into separate
    apartments; Damien moved to Lincoln Square, and Georgia to Albany Park.
    Conveniently, the two apartments were only a 4 minute brown line ride away,
    which meant that they ended up spending quite a bit of time together
    despite living in separate neighborhoods.
  </p>
  <p>
    After about two years of that, they finally decided to cut the travel time
    to 0 by moving in together, so they moved together into an apartment in
    Ravenswood. While living there, Damien proposed while waiting for a frozen
    duck to cook for Valentine's dinner.
  </p>
  <p>
    Since then, they moved again, this time by buying a condo together in West
    Ridge, where they currently live.
  </p>
{{end}}
