{{define "content"}}
  <h1 class="display-4">
    Chicago
  </h1>
  <hr>

  <p>
    For those coming in from out of town, here are some suggestions on what to
    do in Chicago while you're here! Note that our wedding is taking place two
    days before the Chicago marathon, so plan accordingly if you plan to stay the
    weekend.
  </p>
  <p>
    Our venue is located in the Pilsen neighborhood, near downtown on the
    southwest side.
  </p>

  <br>
  <h1 class="display-5">Transportation</h1>

  <p>
    Parking is available at the venue, but there are also a number of public transit
    options near the hotel and the venue.
  </p>
  <p>
    The hotel is a very short walk from the Cermak-McCormick Place green line
    station, and a short (but slightly longer) walk from the Cermak-Chinatown
    red line station.
  </p>
  <p>
    The venue is about halfway between the Cermak-Chinatown red line station and the
    18th Street pink line station. It's about a mile either direction, which is walkable,
    or you can take the #21 Cermak bus.
  </p>
  <p>
    For more information, check the
    <a href="http://www.transitchicago.com/visitors/" target="_blank">CTA's website</a>.
  </p>

  <br>
  <h1 class="display-5">Things to Do</h1>

  <br>
	<h3>Chinatown</h3>
	<p>
    The Chinatown neighborhood is about a mile east of the venue, and a short
    walk from the hotel if you're staying there. If you like Chinese food, you
    really can't go wrong here.
	</p>

  <br>
	<h3>Museums</h3>
	<p>
    Notable Chicago museums that are worth visiting:
  </p>
    <ul>
      <li><a href="https://www.fieldmuseum.org/" target="_blank">The Field Museum</a> &mdash; home of SUE, the most complete T-Rex ever found.</li>
      <li><a href="http://www.adlerplanetarium.org/" target="_blank">Adler Planetarium</a> &mdash; very cool if you like space and stuff.</li>
      <li><a href="https://www.sheddaquarium.org/" target="_blank">Shedd Aquarium</a> &mdash; belugas, penguins, and otters, oh my.</li>
      <li><a href="https://www.msichicago.org/" target="_blank">Museum of Science and Industry</a> &mdash; near the University of Chicago, great for nerds.</li>
      <li><a href="http://www.artic.edu/" target="_blank">Art Institute of Chicago</a> &mdash; home of a number of world-famous art pieces, including American Gothic, A Sunday on La Grande Jatte, and Nighthawks.</li>
    </ul>

  <br>
	<h3>Navy Pier</h3>
	<p>
		One of Chicago's most iconic landmarks, it's something that most people visiting
    the city should see at least once if you haven't already.
	</p>
  
  <br>
  <h1 class="display-5">Things to Eat and Drink</h1>

  <br>
  <h3>Things to Eat</h3>
  <p>
    <ul>
      <li><a href="https://pleasanthousebakery.com/" target="_blank">Pleasant House Bakery</a> &mdash; Tiny pies!</li>
      <li><a href="http://www.el-milagro.com/main.html" target="_blank">El Milagro Tortilla</a></li>
      <li><a href="http://deltorochicago.com/" target="_blank">Del Toro</a></li>
      <li><a href="http://dusekschicago.com/" target="_blank">Dusek's</a></li>
      <li>Any taqueria in Pilsen</li>
    </ul>
  </p>

  <br>
  <h3>Things to Drink</h3>
  <p>
    <ul>
      <li><a href="http://lorezbrewing.com/" target="_blank">Lo Rez</a></li>
      <li><a href="https://www.moodytongue.com/home" target="_blank">Moody Tongue</li>
      <li><a href="http://www.baderbrau.com/" target="_blank">Baderbräu</li>
      <li><a href="http://www.motorrowbrewing.com/" target="_blank">Motor Row Brewing</li>
      <li><a href="http://tackroomchicago.com/" target="_blank">Tack Room</li>
      <li><a href="http://punchhousechicago.com/" target="_blank">Punch House</li>
    </ul>
  </p>

  <br><br>
{{end}}
