{{define "title"}}Travel and Transportation{{end}}

{{define "content"}}
  <h1 class="display-4">
    Travel and Transportation
  </h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a
    ultrices nisl. Integer in orci vitae elit ornare convallis placerat quis
    sem. Pellentesque nunc odio, tempus quis interdum at, convallis eget nisi.
    Suspendisse laoreet consectetur lectus, eu viverra lectus congue quis. Ut
    ultricies ipsum vitae nisl vulputate convallis. Nulla viverra sed quam sit
    amet bibendum. In eu risus sed magna auctor molestie luctus id massa.
  </p>
  <p>
    Vivamus ullamcorper volutpat eros, eget feugiat risus tempor non. In
    vestibulum tempus lectus in consectetur. Ut eget est iaculis, facilisis
    risus ut, aliquam ligula. Sed sit amet mi molestie augue fermentum volutpat.
    Nullam venenatis nulla sed urna vehicula tincidunt. Suspendisse hendrerit
    lectus at pretium sodales. Maecenas euismod dictum rhoncus.
  </p>
{{end}}

{{define "scripts"}}
{{end}}
