{{define "title"}}Things to Do{{end}}

{{define "content"}}
  <h1 class="display-4">
    Things to Do
  </h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales
    urna a euismod semper. Nulla mattis lacinia sem, eget porta ante pulvinar
    iaculis. In quis imperdiet metus, sit amet malesuada ex. Nulla faucibus
    sapien quis urna pretium fermentum. Integer nec maximus tortor, ac elementum
    nisi. Fusce viverra sit amet urna vel dapibus. Nullam a ipsum facilisis,
    fermentum risus lacinia, posuere nisl. In quis turpis sapien.
  </p>
  <p>
    Morbi lacinia lacus nisl, a euismod ipsum convallis sit amet. Sed euismod
    congue dui, id malesuada massa ultrices eu. Praesent posuere massa a
    bibendum interdum. Phasellus porttitor, leo nec iaculis consequat, tortor
    ligula vulputate est, ut iaculis lorem neque vel augue. Vestibulum bibendum
    tincidunt dolor, id varius ex molestie accumsan. Duis pulvinar suscipit
    neque eget posuere. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae; Nulla vitae ligula purus. Duis ut vulputate
    justo. Curabitur interdum dui a facilisis feugiat. Mauris viverra quam sit
    amet arcu egestas dignissim. Sed at ornare nunc, sit amet feugiat ex.
  </p>
{{end}}

{{define "scripts"}}
{{end}}
