{{define "title"}}Accommodations{{end}}

{{define "content"}}
  <h1 class="display-4">
    Accommodations
  </h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum volutpat
    nulla vitae pellentesque. Fusce sed sapien ipsum. Proin eu justo eu neque
    laoreet sodales quis in neque. In hac habitasse platea dictumst. Donec
    finibus id leo id aliquet. Donec dui tellus, ultricies varius nisi mattis,
    mattis vulputate orci. Etiam est massa, posuere sed mattis a, varius vel
    nisl. Fusce tristique facilisis magna non fermentum. Aliquam porttitor est
    ac risus luctus, ut tincidunt nunc gravida. Aliquam erat volutpat. In dolor
    nisi, fermentum at arcu consequat, rutrum lobortis lorem. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Vivamus sed accumsan augue. Aliquam in laoreet massa. Aliquam
    tellus nisl, tempus eu dictum eu, scelerisque ut diam.
  </p>
  <p>
    Nam ultricies maximus interdum. Nam pretium interdum tortor maximus
    scelerisque. Suspendisse et ligula vulputate, maximus massa at, luctus nisi.
    Nunc id elit arcu. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Mauris blandit interdum pretium. Cras
    vel dolor et nunc suscipit luctus ut id elit. Praesent ut sodales massa.
    Phasellus eleifend in nulla non semper. 
  </p>
{{end}}

{{define "scripts"}}
{{end}}
