{{define "content"}}
  <style type="text/css">
    @media(min-width: 992px) {
      #the-nav {
        background-color: inherit !important;
        /* TODO: fix foreground colors */
      }

      /*
      #the-nav .nav-link, #the-nav .navbar-brand {
        color: white;
      }
      */
    }

    body {
      background: url("/static/chicago.jpg") no-repeat fixed center;
      background-size: cover;
    }

    /*
    h1 {
      color: white;
      text-shadow: 2px 2px 2px black;
      font-weight: bold;
    }

    p {
      color: white;
      text-shadow: 1px 1px 1px black;
    }
    */
  </style>

  <div class="text-center">
    <h1 class="display-1">October 5<sup>th</sup>, 2018</h1>
    <p>Just {{.DaysLeft}} day{{if ne .DaysLeft 1}}s{{end}} to go!</p>
  </div>

  <!--
  <div class="jumbotron">
    <h1 class="display-3">
      October 5<sup>th</sup>, 2018
    </h1>
    <p class="lead">Chicago, IL</p>
    <hr class="my-4">
    <p>Just {{.DaysLeft}} day{{if ne .DaysLeft 1}}s{{end}} to go!</p>
    <a class="btn btn-primary btn-lg" href="{{.Path `rsvp`}}">Click here to RSVP</a>
  </div>
  -->
{{end}}

{{define "scripts"}}
  <!-- <script src="/static/index.js"></script> -->
{{end}}
