{{define "content"}}
  <style type="text/css">
    body {
      background: url("https://i.ytimg.com/vi/ljiTg9-UOiI/maxresdefault.jpg") no-repeat fixed center;
    }
  </style>

  <div class="jumbotron">
    <h1 class="display-3">
      October 5<sup>th</sup>, 2018
    </h1>
    <p class="lead">Chicago, IL</p>
    <hr class="my-4">
    <p>Just {{.DaysLeft}} day{{if ne .DaysLeft 1}}s{{end}} to go!</p>
    <a class="btn btn-primary btn-lg" href="{{.Path `rsvp`}}">Click here to RSVP</a>
  </div>
{{end}}

{{define "scripts"}}
  <!-- <script src="/static/index.js"></script> -->
{{end}}
