{{define "content"}}
  <h1 class="display-4">
    Recipes
  </h1>
  <hr>
  <p>
    <h3>
      Gumbo
    </h3>
  </p>
  <br>
  <h5>Ingredients:</h5>
  <p>
    <ul>
      <li>Butter</li>
      <li>Flour</li>
      <li>Andouille Sausage</li>
      <li>Chicken</li>
      <li>Shrimp (optional)</li>
      <li>Onion</li>
      <li>Celery</li>
      <li>Bell Pepper</li>
      <li>Chicken Broth</li>
      <li>Cajun Seasoning + Gumbo File</li>
    </ul>
  </p>

  <br>
  <h5>Directions:</h5>
  <p>
    Melt the butter in a big purple Le Creuset pot, then add the flour and stir
    to make a roux. Keep stirring it until it turns dark brown, but not burnt.
    Once it reaches that point, add some chicken broth and start bringing it to
    a simmer.
  </p>
  <p>
    Cook the meat (with a hefty amount of seasoning) in a pan, then add it to
    the pot. Add the vegetables to the pan you just cooked the meat in and saute
    them for a little while, then add them to the pot. Let the whole thing simmer
    for a while (with some additional seasoning), and serve!
  </p>
{{end}}
