{{define "content"}}
  <h1 class="display-4">
    The Wedding
  </h1>
  <hr>
	<div class="text-center">
		<p class="h2">When?</p>
		<br>
		<div class="card" style="width: 600px; margin: 0 auto;">
			<div class="card-body">
				<h4 class="card-title">October 5<sup>th</sup>, 2018</h4>
				<p class="card-text">Sometime around 4pm, probably.</p>
			</div>
		</div>
		<br><br><br>
		<p class="h2">Where?</p>
		<br>
		<iframe
			width="600"
			height="450"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key={{.GoogleAPIKey}}
				&q=2150+S+Canalport+Ave,+Chicago+IL+60608" allowfullscreen>
		</iframe>
	</div>
{{end}}
