{{define "content"}}
  <h1 class="display-4">
    The Wedding
  </h1>
  <hr>
	<div class="text-center">
		<p class="h2">Where?</p>
		<br>
		<iframe
			width="600"
			height="450"
      style="max-width: 100%;"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key={{.GoogleAPIKey}}
				&q=Lacuna+2150+S+Canalport+Ave,+Chicago+IL+60608" allowfullscreen>
		</iframe>

    <br><br>
    <p>
      Plenty of parking is available at the venue.
    </p>

    <br><br><br>

		<p class="h2">When?</p>
		<br>
		<div class="card" style="width: 600px; max-width: 100%; margin: 0 auto;">
			<div class="card-body">
				<h5 class="card-title">Friday, October 5<sup>th</sup>, 2018</h5>
        <hr>
        <p class="card-text">
          <dl class="row">
            <dt class="col-sm-6 col-md-6 text-right">4:30pm</dt>
            <dd class="col-sm-6 col-md-6 text-left">Ceremony followed by Cocktail Hour</dd>

            <dt class="col-sm-6 col-md-6 text-right">6:30pm</dt>
            <dd class="col-sm-6 col-md-6 text-left">Dinner</dd>
          </dl>
          <hr>
          <small>Times are tentative and subject to change.</small>
        </p>
			</div>
		</div>

    <br><br>
	</div>
{{end}}
